$primary-color: #7001FD;
$text-color: #555555;
$secondary-color: #1E2772;
$gray-bg: #EEEEEE;
$gray-secondary-bg: #F1F3F6;
$border-color: #e6e6f0;
$button-text-color: #ffffff;
$primary-color-dark: #6842c2;
$gray-text: #6a6180;
