<main class="main">
  <section class="section main-section">
    <h1>Bem-vindo ao Seu Site de Aulas</h1>
    <p>Aprenda de maneira fácil e organizada.</p>
  </section>

  <section class="section form-section">
    <img src="/assets/svg/logo.svg" alt="Logo do site" />
    <h2>Você é ?</h2>
    <div class="btn-wrapper">
      <button class="btn-primary">Aluno</button>
      <div class="divider">
        <div></div>
        <span>Ou</span>
        <div></div>
      </div>
      <button class="btn-secondary">Professor</button>
    </div>
  </section>
</main>
